body {
    font-family: monospace, sans-serif;
    /* Set the background color to black */
    background-color: #0E1111;
    overflow: auto;
    text-align: center;
}

/**** Titles ****/
h1, h2 {
    color: #FFFFFF;
    font-weight: bold;
}

h1 {
  font-size: 24px;
  padding-left: 120px;
}

h2 {
  font-size: 20px;
  /* Adjust the margin-bottom as needed */
  margin-bottom: 1px;
  text-align: left;
}

/**** Text ****/
p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  text-justify: auto;
}

.switch-lang {
  cursor: pointer;
  float: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 800px;
  margin: 0 auto;

}

/* Images containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.thumbnail-img {
   /* Adjust the height value as needed */
  height: 30vh;
}

.custom-link {
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  gap : 10px
}

/** Images slideshow **/
.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

.slideshow-container {
  width: 650px;
  position: relative;
  margin-right: 75px;
  margin-left: 75px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  color: #ba510f;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -275px;
  top: -225px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -275px;
  top: -225px;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 35%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #ba510f;
}
