body {
    font-family: monospace, sans-serif;
    background-color: #0E1111;
    /* Set the background color to black */
    overflow: auto;
}

h1 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    padding-left: 120px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.thumbnail-img {
height: 30vh; /* Adjust the height value as needed */}
p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    max-width: 600px;
    /* Adjust the max width as needed */
    margin-top: 1px;
    text-align: justify;
    text-justify: inter-word;
}

h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1px;
    /* Adjust the margin-bottom as needed */
}

.my-image {
    width: auto;
    /* Adjust the width as needed */
    height: auto;
    /* Preserve the aspect ratio */
    display: block;
    /* Ensures proper spacing */
    margin-top: -10px;
    /* Adjust the margin-top as needed */
}

.custom-link {
  color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    grid-gap: 0px;
    padding-top: 40px;
    padding-left: 80px;
}

.grid-item {
    padding: 0px;
}

.item-span {
    grid-column: 1 / 3;
    /* Place the item in columns 1 to 3 */
}

.content {
    background-image: url('../images/logo.svg');
    background-position: 10px 20px;
    background-repeat: no-repeat;
}

.image-container {
    display: flex;
    /* Use flexbox for the container */
}

.image-container img {
    flex: 1;
    /* Make the images share equal space */
    margin-right: 10px;
    /* Add a small margin between the images */
}

canvas {
  touch-action: none;
}


/** Images slideshow **/

* {
    box-sizing: border-box
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }
  .mySlides {
    display: none
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 650px;
    position: relative;
    margin: 0px;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ba510f;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* The dots/bullets indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 35%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #ba510f;
  }
